.DS_Store
*.pyc
.env/
.idea/
.ssh/gitlab_key
temp/
local/*
djangoplicity_visits.egg-info
dist
!local/README.md
config/youtube/*
!config/youtube/README.md
config/letsencrypt/
.env
prod.env

# html coverage
htmlcov
