{% extends "visits/visits-base.html" %}
{% load i18n crispy_forms_tags %}

{% block content %}
    <style>
        .checkbox label {
            text-decoration: underline;
            color: #2b669a;
        }
    </style>
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h1>{% trans 'Visitor Registration Form' %}</h1>
            </div>
            <div class="info clearfix">
                <div class="col-sm-12">
                    <form method="post" class="form-horizontal">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="form-group">
                            <label class="control-label" for="guestInput">{% trans 'Add Guest' %}</label>
                            <div class="controls">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="guestInput">
                                    <span class="input-group-btn">
                                    <button type="button" class="btn btn-success" key
                                            onclick="addGuest()">{% trans 'Add Guest' %}</button>
                                    </span>
                                </div>
                                <div class="help-block">
                                    {% trans 'Type a guest name and press enter or click "Add Guest" to include them in the guest list below.' %}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <table class="table table-striped table-bordered table-hover m-0" id="guestList">
                                <thead>
                                <tr>
                                    <th class="text-primary">{% translate 'Guest Names' %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for member in members %}
                                    <tr>
                                        <td style="width: 90%">{{ member }}
                                            <i class="fa fa-times text-danger" style="float: right; cursor: pointer;"
                                               onclick="removeGuest(this, '{{ member }}')"></i>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr class="empty-row">
                                        <td colspan="3" class="text-center">No guests yet.</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal_form" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body" id="modal-body">

                    <embed src="{{ modal_content.resource_pdf.absolute_url }}#toolbar=0&navpanes=0&scrollbar=0"
                           width="100%" height="900px" type="application/pdf">
                </div>
                <div class="modal-footer">
                    <button aria-label="{% trans 'Decline' %}" type="button"
                            class="btn btn-secondary">{% trans "Decline" %}</button>
                    <button aria-label="{% trans 'Accept' %}" type="button"
                            class="btn btn-primary">{% trans "Accept" %}</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_scripts %}
    <script>
        function removeGuest(element, guestName) {
            element.closest('tr').remove();
            updateGuestsField(guestName);
            toggleEmptyRow();
        }

        function updateGuestsField(removedName) {
            const hiddenGuestField = document.querySelector('input[name="guests"]');
            let currentGuests = hiddenGuestField.value.split(';');
            let index = currentGuests.indexOf(removedName);
            if (index > -1) {
                currentGuests.splice(index, 1);
                hiddenGuestField.value = currentGuests.join(';');
            }
        }

        function toggleEmptyRow() {
            const guestListBody = document.querySelector('#guestList tbody');
            const hasGuests = guestListBody.querySelectorAll('tr').length > 0;
            const emptyRow = document.querySelector('.empty-row');
            if (!hasGuests && !emptyRow) {
                const row = guestListBody.insertRow();
                const cell = row.insertCell(0);
                cell.colSpan = "3";
                cell.textContent = "No guests yet.";
                cell.className = "text-center";
                row.className = "empty-row";
            } else if (hasGuests && emptyRow) {
                emptyRow.remove();
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            const form = document.querySelector('.form-horizontal');
            const divToSafety = document.getElementById('div_id_accept_safety_form').parentNode;
            const divToDisclaimer = document.getElementById('div_id_accept_disclaimer_form').parentNode;
            const submitButton = form.querySelector('button[type="submit"]').parentNode;

            if (form && divToSafety) {
                form.insertBefore(divToSafety, submitButton);
            }
            if (form && divToDisclaimer) {
                form.insertBefore(divToDisclaimer, submitButton);
            }


            // Open modal logic
            const activitySelect = document.querySelector('select[name="location"]');
            const openModalButtons = document.querySelectorAll('.open-modal');
            const checkboxSafety = document.querySelector('input[name="accept_safety_form"]');
            const checkboxLiability = document.querySelector('input[name="accept_disclaimer_form"]');

            if (!activitySelect.value) {
                checkboxSafety.closest('.form-group').style.display = 'none';
                checkboxLiability.closest('.form-group').style.display = 'none';
            }

            activitySelect.addEventListener('change', function () {
                const activityId = this.value;
                if (!activityId) {
                    // Si no hay selección, oculta los checkboxes
                    checkboxSafety.closest('.form-group').style.display = 'none';
                    checkboxLiability.closest('.form-group').style.display = 'none';
                    return;
                }

                fetch(`/public/api/v2/visits/activities/${activityId}/`)
                    .then(response => response.json())
                    .then(data => {
                        // Verificar y mostrar los checkboxes según la existencia de documentos
                        if (data.safety_tech_doc || data.safety_tech_doc_es) {
                            checkboxSafety.closest('.form-group').style.display = '';
                            checkboxSafety.checked = false;
                            checkboxSafety.required = true;
                        } else {
                            checkboxSafety.closest('.form-group').style.display = 'none';
                            checkboxSafety.required = false;
                        }

                        if (data.liability_tech_doc || data.liability_tech_doc_es) {
                            checkboxLiability.closest('.form-group').style.display = '';
                            checkboxLiability.required = true;
                            checkboxLiability.checked = false;
                        } else {
                            checkboxLiability.closest('.form-group').style.display = 'none';
                            checkboxLiability.required = false;
                        }
                    })
                    .catch(error => console.error('Error loading activity details:', error));
            });


            openModalButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const docType = this.getAttribute('data-doc-type');
                    const language = '{{ LANGUAGE_CODE }}';
                    const activityId = activitySelect.value;

                    fetch(`/public/api/v2/visits/activities/${activityId}/`)
                        .then(response => response.json())
                        .then(data => {
                            let docUrl;
                            switch (docType) {
                                case 'safety':
                                    docUrl = language === 'es' ? data.safety_tech_doc_es : data.safety_tech_doc;
                                    break;
                                case 'liability':
                                    docUrl = language === 'es' ? data.liability_tech_doc_es : data.liability_tech_doc;
                                    break;
                            }
                            if (docUrl) {
                                const embed = document.querySelector('#modal-body embed');
                                embed.src = docUrl + "#toolbar=0&navpanes=0&scrollbar=0";
                                $(button.getAttribute('data-target')).modal('show');
                            }
                        })
                        .catch(error => console.error('Error loading the document:', error));
                });
            });

            // Handle accept and decline actions
            const modalAcceptButton = document.querySelector('#modal_form .btn-primary');
            const modalDeclineButton = document.querySelector('#modal_form .btn-secondary');
            let currentCheckbox;

            document.querySelectorAll('.open-modal').forEach(button => {
                button.addEventListener('click', function () {
                    currentCheckbox = document.querySelector(`input[name="${this.getAttribute('data-form-field')}"]`);
                    // Ensure checkbox is unchecked and disabled initially when modal opens
                    currentCheckbox.checked = false;
                });
            });

            modalAcceptButton.addEventListener('click', function () {
                if (currentCheckbox) {
                    currentCheckbox.checked = true;
                    $('#modal_form').modal('hide');
                }
            });

            modalDeclineButton.addEventListener('click', function () {
                if (currentCheckbox) {
                    currentCheckbox.checked = false;
                    $('#modal_form').modal('hide');
                }
            });

            // Add Guest logic
            const guestInput = document.getElementById('guestInput');
            const guestList = document.querySelector('#guestList tbody');
            const hiddenGuestField = document.querySelector('input[name="guests"]');

            function addGuest() {
                const name = guestInput.value.trim();
                if (name) {

                    const row = guestList.insertRow();
                    const cellName = row.insertCell(0);
                    cellName.textContent = name;
                    cellName.style.width = '90%'; // Ajustar según necesites

                    const deleteIcon = document.createElement('i');
                    deleteIcon.className = 'fa fa-times text-danger';
                    deleteIcon.style.float = 'right';
                    deleteIcon.style.cursor = 'pointer';
                    deleteIcon.onclick = function () {
                        removeGuest(row, name);
                    };

                    cellName.appendChild(document.createTextNode(''));
                    cellName.appendChild(deleteIcon);

                    hiddenGuestField.value += (hiddenGuestField.value ? ';' : '') + name;
                    updateGuestsField();
                    guestInput.value = '';
                    toggleEmptyRow();
                }
            }

            guestInput.addEventListener('keypress', function (event) {
                if (event.key === 'Enter') {
                    event.preventDefault();
                    addGuest();
                }
            });

            window.addGuest = addGuest;
        });
    </script>
{% endblock %}
