{% extends "visits/visits-base.html" %}
{% load i18n %}

{% block content %}
    <div class="row">
        <div class="page-header">
            <h1>{% trans 'Public Visits Reports' %}</h1>
        </div>
        <h2>Showing: {{ showing }}</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'Email' %}</th>
                    <th>{% trans 'Phone number' %}</th>
                    <th>{% trans 'Alternative Phone number' %}</th>
                    <th>{% trans 'Country' %}</th>
                    <th>{% trans 'Number of places' %}</th>
                    <th>{% trans 'Language' %}</th>
                    <th>{% trans 'Reservation code' %}</th>
                    <th>{% trans 'Reservation date' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for r in showing.reservation_set.all %}
                <tr>
                    <td>{{ r.name }}</td>
                    <td>{{ r.email }}</td>
                    <td>{{ r.phone }}</td>
                    <td>{{ r.alternative_phone }}</td>
                    <td>{{ r.country }}</td>
                    <td>{{ r.n_spaces }}</td>
                    <td>{{ r.language }}</td>
                    <td>{{ r.code }}</td>
                    <td>{{ r.created }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <p><a href="../">{% trans 'Back to list' %}</a></p>
{% endblock %}

