{% extends "core.html" %}
{% load i18n %}

{% block content_area %}

<div class="container" id="body">
{% if request.NO_TRANSLATION %}
    <div class="notranslation-alert alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <strong>{% trans "Sorry!" %}</strong> {% trans "This page is not yet available in your preferred language, so we're displaying the original version instead." %}
    </div>
{% endif %}
<div class="row no-page">
    <div class="col-md-12">
        {% block archive_search %}
        {% endblock %}
    </div>
</div>
{% block body %}
{% endblock %}
</div>

{% endblock %}
