{% extends "base.html" %}
{% load i18n staticfiles djangoplicity_utils pipeline menus djangoplicity_translation %}
{% block site_title %}{{ WEBSITE_NAME }}{% if LANGUAGE_CODE != 'en' %} {{ LANGUAGE_CODE|code_to_local_country }}{% endif %}{% endblock %}
{% block extra_header %}
    {% spaceless %}
        {% if archive_title or archive %}
            <meta name="description" content="{% if archive_title %}{% trans archive_title %}{% else %}{{ archive|capfirst }} {% trans "Archive" %}{%endif%}"/>
        {% endif %}
        <meta name="description" content="{{ WEBSITE_DESCRIPTION }}"/>
        <meta name="keywords" content="{{ WEBSITE_KEYWORDS }}" />
        {% for code, lang in LANGUAGES %}
            <link rel="alternate" href="{{ SITE_DOMAIN }}{{ request.path|url_for_lang:code }}" hreflang="{% if code == "en" %}x-default{% else %}{{ code }}{% endif %}"/>
        {% endfor %}
    {% endspaceless %}
{% endblock %}

{% block content_area %}
    <div class="container" id="body">
        <div class="row page">
            {% if request.NO_TRANSLATION %}
                <div class="notranslation-alert alert alert-info alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <strong>{% trans "Sorry!" %}</strong> {% trans "This page is not yet available in your preferred language, so we're displaying the original version instead." %}
                </div>
            {% endif %}
            <div class="col-md-12 left-column">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function(event) {
            const nocp = document.querySelectorAll('.nocopypaste');
            const prevent = function(e) {
                e.preventDefault();
            }
            for ( element of nocp ) {
                element.addEventListener('cut', prevent);
                element.addEventListener('copy', prevent);
                element.addEventListener('paste', prevent);
            }
        });
    </script>
{% endblock %}
