# Djangoplicity actions
git+https://@github.com/djangoplicity/djangoplicity-actions@release/python3

# Djangoplicity
git+https://@github.com/djangoplicity/djangoplicity.git@release/python3

# PostgreSQL python client
psycopg2-binary==2.8.5
